::-webkit-scrollbar{
  width: .7em;
  border-left:2px double white;
  z-index: 1000;
}

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;300;500&display=swap');


@font-face {
  font-family: 'Smooch Sans';
  src: url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;300;500&display=swap');
}

::-webkit-scrollbar-track {
  background: rgba(239, 239, 239, 0.826);
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(22, 88, 22);
  border-radius: 100vw;
  width: .4em;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 44, 40);
}

html,
body {
  background: black;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Smooch Sans', sans-serif;

  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  z-index: 999;
  background-color: green;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .circle {
    display: none;
  }
}
