.container {
  background-image: url('../public/img/lawncare.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  border: 3px solid rgb(5, 64, 5);
  padding: 9vw 10vw;
}

.info{
  margin-top:2vw;
  background: rgba(230, 226, 226, 0.829);
  border-radius: 10px 90px;
  border: 5px solid rgba(0, 0, 0, 0.655);
}

.title{
  text-align: center;
  margin: 0;
  color: white;
  background-color: rgb(33, 32, 32);
  padding: 32px;
  border-radius: 10px 90px;
}

.heading {
  width: max-content;
  font-size: 30px;
  border-bottom: 4px solid green;
  margin-top:0px;
  text-align: center;
  margin:10px;
}

.subtitle {
  font-size: 41px;
  color: rgb(2, 71, 2);
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px;
}

.service {
  width: 380px;
  height: auto;
  background-color: rgb(29, 29, 29);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 30px 90px;
  align-items: center;
}

.service img{
  width:50%;
}

.catInfo {
  width: 100%;
  position: absolute;
  background-color: rgba(77, 73, 73, 0.874);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
  transition: all 1s ease;
  border-radius: 30px 90px;
}

.cat {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 13px;
  z-index: 999;
  text-transform: uppercase;
  color: rgb(207, 206, 206);
  letter-spacing: 4px;
    font-size: 23px;
  font-weight: 300;
}

 .catInfo img{
  border-radius: 30px 90px;
}

.media {
  width: 85%;
  height: 85%;
  margin-top: 20%;
  padding: 10%;
  background-color: rgb(206, 211, 207);
  border-radius: 10% 20%;
  overflow: hidden;
  transition: all 1s ease;
}

.service:hover {
  transform: scale(1.1);
  transition: 1s ease all;
}




.service:hover .catInfo {
  opacity: 1;
  border: 1px solid white;
}

.service:hover .catInfo img{
  opacity: 1;
  border-radius: 20%;
  border: 1px solid green;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1600px){
  .container {
    padding: 20vw 13vw;
    height: 100%;
  }
  .services {
    justify-content: center;
    display: flex;
  }

  .service {
    width: 380px;
    height: 380px;
  }
  
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
    height: auto;
  }
  .services {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  .title{
    font-size: 38px;
  }
  

  .service {
    width: 38vh;
    height: 38vh;
    flex-direction: column;
    align-items: center;
  }

  
}
